<div class="main">
      <header>
        <article class="head_left">
          <div class="logo"></div>
          <h1>Maeru Labs</h1>
        </article>
        <article class="head_right">
          <div class="social social_facebook"></div>
          <div class="social social_linkedin"></div>
          <div class="social social_twitter"></div>
        </article>
      </header>
      <article class="content">
        <nav class="menu">
          <a href="#" class="active">Home</a>
          <a href="/centre_for_research">Centre for Research</a>
          <a href="/school_of_engg">School of .Engg</a>
          <a href="/ollir_thamizh">Ollir Thamizh</a>
          <a href="/job">Job</a>
        </nav>
        <article class="center">
          <article class="center_left">
            <article class="lab_img">
              <img src="/assets/logo.jpg"/>
            </article>
            <article class="lab_address">
              <h4>MAERU LABS,</h4>
              <article>Part No. 1, Plot No. 12,</article>
              <article>Sulochana Nagar, 6th Street,</article>
              <article>Revathpuram, Iyenchery, Urapakkam,</article>
              <article>Chenglepattu Taluk, Kanachipuram - 603210.</article>
              <article>Phone: 9791650976</article>
            </article>
          </article>
          <article class="center_main">
            <p>Maeru Labs is a Research and Development Organization primarily aimed at bridging technology with the society. This bridge will benefit the society with the marvels of technology. But for the purpose, the technology has no real meaning. The Organization truly and whole heartedly believes in this and works towards it.</p>
          </article>
          <article class="center_right">
            <article class="news">
              <article class="title">News & Events</article>
              <article class="block">
                <strong>Maeru Labs - School of Engineering </strong>
                <div class="slide1">
                  <p>Announces Coaching Classes for GATE 2015 (EE) from 3rd August, 2014</p>
                  <p>Classes only on Sundays (8 am to 5:30 pm)</p>
                  <p>Orientation Class will take place on 2nd August,2014</p>
                  <span>Further information will be uploaded shortly...</span>
                </div>
                <div class="slide2">
                  <p> Book on Electrical Machines 2 (Rotating AC Machines) - is set to release in the second week of August, 2014</p>
                </div>
              </article>
            </article>
            <article class="video">
              <video>
                <source src="#" type="video/mp4">
              </video>
              <div class="preview">COMING SOON..</div>
            </article>
          </article>
        </article>
      </article>
      <!-- <footer></footer> -->
    </div>