<div class="main">
      <header>
        <article class="head_left">
          <div class="logo"></div>
          <h1>Maeru Labs</h1>
        </article>
        <article class="head_right">
          <div class="social social_facebook"></div>
          <div class="social social_linkedin"></div>
          <div class="social social_twitter"></div>
        </article>
      </header>
      <article class="content">
        <nav class="menu">
          <a href="/">Home</a>
          <a href="/centre_for_research">Centre for Research</a>
          <a href="#" class="active">School of .Engg</a>
          <a href="/ollir_thamizh">Ollir Thamizh</a>
          <a href="/job">Job</a>
        </nav>
        <article class="center">
          <article class="center_left">
            <article class="lab_img">
              <img src="/assets/logo.jpg"/>
            </article>
            <article class="lab_address">
              <h4>MAERU LABS,</h4>
              <article>Part No. 1, Plot No. 12,</article>
              <article>Sulochana Nagar, 6th Street,</article>
              <article>Revathpuram, Iyenchery, Urapakkam,</article>
              <article>Chenglepattu Taluk, Kanachipuram - 603210.</article>
              <article>Phone: 9791650976</article>
            </article>
          </article>
          <article class="center_main">
            <p>Maeru Labs - School of Engineering is primarily aimed at developing innovative methods in pedagogy thereby making teaching learning process easier.</p>
            <p>The School of Engineering will strive to make everything as simple as possible as far as teaching is concerned. The learning process could be made lively by bridging theory with practice. Teaching theory in a laboratory will make everyone fall in love with engineering.</p>
          </article>
          <article class="center_right">
            <article class="news">
              <%= link_to "Application form for GATE EE 2015", "/Application form for GATE EE 2015.pdf", :style => "padding:10px 5px;background-color:#1C54A7;display: block;color: #fff;text-align: center;margin: 13px 0px;border-radius: 8px;box-shadow: 0px 2px 4px 2px #0B1196;" %>
              <article class="title">News & Events</article>
              <article class="block">
                <strong>Maeru Labs - School of Engineering </strong>
                <div class="slide1">
                  <p>Announces Coaching Classes for GATE 2015 (EE) from 3rd August, 2014</p>
                  <p>Classes only on Sundays (8 am to 5:30 pm)</p>
                  <p>Orientation Class will take place on 2nd August,2014</p>
                  <span>Further information will be uploaded shortly...</span>
                </div>
                <div class="slide2">
                  <p> Book on Electrical Machines 2 (Rotating AC Machines) - is set to release in the second week of August, 2014</p>
                </div>
              </article>
            </article>
            <article class="video">
              <video>
                <source src="#" type="video/mp4">
              </video>
              <div class="preview">COMING SOON..</div>
            </article>
          </article>
        </article>
      </article>
      <!-- <footer></footer> -->
    </div>