<!DOCTYPE html>
<html>
<head>
  <title>CodeSpanner</title>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<img src="http://www.webhostdesignpost.com/img/under-construction.jpg" class="underConstruction" >
</img>
<div class="siteTitle">
  <sup style="position: absolute;">Powered by</sup><h3 style="font-size: 25px;display: inline-block;"><span style="color:brown;"><i class="fa fa-code" aria-hidden="true"></i>Code</span>Spanner{};</h3>
</div>
<div style="display:none"><%#= yield %></div>

<style type="text/css">
	.underConstruction{
		position:absolute;
		z-index:1000;
		width:75%;
		height:70%;
		padding:10%;
		padding-top:5%;
		overflow:hidden;
	}
	.siteTitle{
		position: absolute;
		left: 44%;
		bottom: 0;
		z-index: 100001;
		font-family: 'PT Sans Narrow', sans-serif;
	}
	/* ----------- Galaxy S3 ----------- */

	/* Portrait and Landscape */
	@media screen 
	  and (device-width: 320px) 
	  and (device-height: 640px) 
	  and (-webkit-device-pixel-ratio: 2) {
	  	.siteTitle{
	  		left: 25%;
	  	}
	}
</style>
<script type="text/javascript">
$(document).ready(function() {
	$(".block > div").css({"opacity":"0"});
   animateNews();
}); 

function animateNews() {
	if ($(".slide1").css("opacity") == "0") {
		$(".slide2").animate({"opacity":"0"},500);
		$(".slide1").animate({"opacity":"1"},500);
	} else{
		$(".slide2").animate({"opacity":"1"},500);
		$(".slide1").animate({"opacity":"0"},500);
	};
	window.setTimeout(function() { animateNews() }, 4000);
}
</script>
</body>
</html>
