<!DOCTYPE html>
<html>
<head>
  <title>Maeru</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script type="text/javascript">
$(document).ready(function() {
	$(".block > div").css({"opacity":"0"});
   animateNews();
}); 

function animateNews() {
	if ($(".slide1").css("opacity") == "0") {
		$(".slide2").animate({"opacity":"0"},500);
		$(".slide1").animate({"opacity":"1"},500);
	} else{
		$(".slide2").animate({"opacity":"1"},500);
		$(".slide1").animate({"opacity":"0"},500);
	};
	window.setTimeout(function() { animateNews() }, 4000);
}
</script>
</body>
</html>
